<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Jim McGaw's Homepage</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Resume homepage for Jim McGaw">
    <link rel="shortcut icon" href="/static/images/dinosaur.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- bower:css -->
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/orbit/css/styles.css">
    <!-- endinject -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="/static/images/profile.png" alt="" />
                <h1 class="name">Jim McGaw</h1>
                <h3 class="tagline">Full Stack Developer</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: hello@jimmcgaw.com">hello@jimmcgaw.com</a></li>
                    <!-- <li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">0123 456 789</a></li> -->
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/jimmcgaw" target="_blank">github.com/jimmcgaw</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="http://www.linkedin.com/in/jimmcgaw" target="_blank">Jim on LinkedIn</a></li>
                    <li class="website"><i class="fa fa-pencil-square"></i><a href="http://blog.jimmcgaw.com/" target="_blank">Jim McGaw's Blog</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/Jim_McGaw" target="_blank">@Jim_McGaw</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">BA in Accounting</h4>
                    <h5 class="meta">Michigan State University</h5>
                    <div class="time">2000 - 2004</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                  <li>Coding</li>
                  <li>Machine Learning</li>
                  <li>Reading</li>
                  <li>Social Justice</li>
                  <li>Hiking</li>
                </ul>
            </div><!--//interests-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>French <span class="lang-desc">(Un peu)</span></li>
                    <li>Spanish <span class="lang-desc">(Un poquito)</span></li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p>I have been a full-stack web engineer for the last ten years. I
                      have experience with JavaScript
                      (both vanilla JS and frameworks like jQuery & Underscore.js), ES6,
                      HTML5, CSS3, React.js, Angular.js, Backbone.js, Python, Django, MySQL,
                      Bootstrap, and SASS.</p>

                      <p>I'm comfortable working in a Unix-based environment
                      (OS X, or Linux) to accomplish things from the command line. In tackling
                      problems in my work, I'm adept at coding up a custom solution or finding
                      a library to do the job online, as the situation requires. My node.js experience
                      is centered around development tooling with Grunt, gulp, and webpack. I am
                      familiar with machine learning techniques and frameworks. I am most interested
                      in building performant web application UIs using the latest and greatest
                      set of open source technologies.</p>

                      <p>I'm also the author of the Apress book <a href="http://www.amazon.com/dp/1430225351/" target="_blank">Beginning Django E-Commerce</a>.</p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">June 2012 - March 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">RightScale, Santa Barbara</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I served as a software engineer; I did full-stack web development with
                          open source technologies. I was on a team responsible for maintaining and
                          extending one of the company's core SaaS products, a web-based platform for
                          multi-cloud computing management. I was a generalist, tackling problems in
                          whatever domain was needed. My daily work would take me from mild MySQL
                          troubleshooting to API development in Ruby to developing front-end web
                          solutions in JavaScript. I worked closely with designers, UX, product
                          management, and other developers in order to develop and deploy final
                          solutions. My primary focus throughout the majority of my time here was
                          on front-end engineering.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">January 2012 - May 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">PTM Web Engineering, Santa Barbara</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked as a full-stack engineer for a web consultancy
                          that developed custom websites using Python, Django, and JavaScript
                          libraries for clients. I was responsible for working directly with
                          our Account Manager in order to understand requirements, and to deliver
                          solutions in a timely fashion.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">July 2011 - March 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">AppFolio, Santa Barbara</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>AppFolio offers a SaaS-based property management platform.
                          I did not work on the core product, but instead joined the
                          marketing department as a web developer for the websites they
                          used for marketing purposes. I developed and extended these sites,
                          as well as developing custom solutions for the marketing department
                          in their sales pipelines in Marketo and Sales Force.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>For a complete list of stuff I've been coding lately, see <a href="http://github.com/jimmcgaw">my Github page</a>.
                    Here are a few projects that I'd like to showcase.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://github.com/jimmcgaw/gleaner" target="_blank">Gleaner</a></span> - <span class="project-tagline">A web-based system to help those gleaning
                    produce from farms and residential orchards. I'm currently developing this for the Foodbank of Santa Barbara.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://github.com/jimmcgaw/stemblog" target="_blank">STEM Blog</a></span> -
                    <span class="project-tagline">A small blogging platform intended for those in academia who want to use TeX formatting and peer review.</span>
                </div><!--//item-->
            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">React</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Angular</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">node.js</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->
    </div>

    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- bower:js -->
    <script src="/static/lib/jquery/dist/jquery.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/static/orbit/js/main.js"></script>
    <!-- endinject -->

</body>
</html>
